
.board{
    padding: 1%;
    margin-left: 14rem;
    display: flex;    

}
.chat-board{
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    height:95vh;
    border-width: 1px;
    border-style: solid;
    border-color: whitesmoke;
}
.card-board{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: white;
    width: 50%;
    height:60vh;
}
