.navbar{
    width: 5rem;
    height: 100%;
    background-color: aliceblue;
    position: fixed;
    transition: width 200ms ease;
    
}

.navbar:hover{
    width: 13rem;
}

.navbar-nav{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}